<!DOCTYPE html>
<<<<<<< HEAD
<html>
  <head>
    <title><%= title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <h1><%= title %></h1>
    <p>Welcome to <%= title %></p>
  </body>
</html>
=======
<html lang="en">
<head>
<<<<<<< HEAD
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Document</title>
</head>
<body>
  <h1>welcome to : <%= title %> </h1>
  
=======
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
<h1>heyyyaa</h1>
>>>>>>> 1943f3f1ee092c71f766ac18dcca33c4035b4d28
</body>
</html>
>>>>>>> 63f6ac5c28b5bfb53e15af58abbfec56cc2c7d9a
