<<<<<<< HEAD
body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;
}

a {
  color: #00B7FF;
}
=======
h1{
    background: red;
}
>>>>>>> 1943f3f1ee092c71f766ac18dcca33c4035b4d28
